<div class="view-content">
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
    {% for row in rows %}
      <div class="col">
        {{ row }}
      </div>
    {% endfor %}
  </div>
</div>